python-dotenv
aiohttp
telebot
pandas
pydub
mutagen
portalocker
spotipy
spotipy-anon
spotipyfree
requests[socks]
boto3
telethon
asyncio
cryptg
flask
fastapi
uvicorn
mautrix
yt-dlp[default,curl-cffi]
spotdl
curl_cffi
paramiko